body{

	background-image: url("https://plus.unsplash.com/premium_photo-1661277679965-9db1104e890f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1177&q=80");
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-repeat:no-repeat;
    background-position:center;
    background-color: black;
    

}
.container{
    color: rgb(236, 30, 157);
    display: block;
    text-align: center;
    font-size: xx-large;
    border: 1px solid black;


}

#countLabel{
    display: block;
    text-align: center;
    font-size: x100px;

}
button{
    font-size: x-large;
}

h2 , h4{
    color: pink;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    list-style-type: none;
    border-bottom: 1px solid #9f9f9f;
    display: flex;
    justify-content: space-between; 
 }

a:visited {
    color: lightgray;
}

  ul li {
    display: inline-block;
    padding-left: 20px;
    color: #eee;
  }
p{
    color: pink;
  }
